version: "3.6"

services:
  cig_backend:
    container_name: cig_backend
    build: ./
    command: npm start
    working_dir: /usr/src/CIG_backend
    links:
      - mongo
      - redis
    ports:
      - "8082:8082"
    volumes:
      - ./:/usr/src/CIG_backend

  #redis
  redis:
    image: redis
    ports:
      - "6379:6379"

  mongo:
    container_name: mongo
    image: mongo
    ports:
      - "27017:27017"
